<main class="form">
	<header class="form__header">
		<h1>
			Login
		</h1>
	</header>

	<form id="form" class="form__body" (ngSubmit)="submit()" [formGroup]="loginForm">
		<mat-form-field appearance="outline">
			<mat-label>Login</mat-label>
			<input
				matInput
				formControlName="nickname"
				placeholder="Placeholder"
				autocomplete="off"
			/>
		  </mat-form-field>

		  <mat-form-field appearance="outline">
			<mat-label>Senha</mat-label>
			<input
				matInput
				formControlName="password"
				type="password"
				placeholder="Placeholder"
			/>
		  </mat-form-field>
	</form>

	<footer class="form__footer">
		<button
			mat-raised-button
			form="form"
			type="submit"
		>
			Login
		</button>
		<a mat-raised-button [routerLink]="['cadastro']">
			Cadastre-se
		</a>
	</footer>
</main>
