// Theme colors variables;
$dark-color: #1f1f1f;

$light-color: #eeeeee;

// General variables
$theme-font-size: 10px;
$theme-font-family: 'Open Sans', sans-serif;

$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;
